node-red-flow.json
[
    {
        "id": "1d6418f92cd3cb0e",
        "type": "tab",
        "label": "IoT_Medical_Examination",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3cf3898f7fbee38",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "0287a80bf3818791"
            ]
        ]
    },
    {
        "id": "69e2f9590cc2cc6f",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Accelerometro",
        "topic": "IoT_Polito_Project/Sensor/1789105/+/Accelerometer",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "a3cf3898f7fbee38"
            ]
        ]
    },
    {
        "id": "0287a80bf3818791",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Accelerometer",
        "group": "7781ea91b0fedce0",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Accelerometer",
        "label": "rpm",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "c27def154e2b6157",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "34c635ef0041b8cf"
            ]
        ]
    },
    {
        "id": "1185434f4b62b2c6",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Heart_Rate",
        "topic": "IoT_Polito_Project/Sensor/1789105/+/Heart_Rate",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "c27def154e2b6157"
            ]
        ]
    },
    {
        "id": "34c635ef0041b8cf",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Heart_Rate",
        "group": "7781ea91b0fedce0",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Heart_Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": "30",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "6944bc53b185129f",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "return msg",
        "outputs": 1,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "cc482853bc977407"
            ]
        ]
    },
    {
        "id": "b380be04e589ef80",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "BPM respiro",
        "topic": "IoT_Polito_Project/Sensor/1789105/BPM",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "6944bc53b185129f"
            ]
        ]
    },
    {
        "id": "cc482853bc977407",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Breath Per Minute",
        "group": "7781ea91b0fedce0",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Breath Per Minute",
        "label": "BPM",
        "format": "{{value}}",
        "min": "5",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f0fe68e318cfbf2",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "51837e3c97b256da"
            ]
        ]
    },
    {
        "id": "35dee5bed6ae1f44",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Saturation",
        "topic": "IoT_Polito_Project/Sensor/1789105/+/Saturation",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "1f0fe68e318cfbf2"
            ]
        ]
    },
    {
        "id": "51837e3c97b256da",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Saturation",
        "group": "7781ea91b0fedce0",
        "order": 11,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Saturation",
        "label": "SpO2",
        "format": "{{value}}",
        "min": "70",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "98ae773bd59298d5",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "fb3bcd20a92f3995"
            ]
        ]
    },
    {
        "id": "0367c70549630436",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Perfusion",
        "topic": "IoT_Polito_Project/Sensor/1789105/+/Perfusion",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "98ae773bd59298d5"
            ]
        ]
    },
    {
        "id": "fb3bcd20a92f3995",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Perfusion",
        "group": "7781ea91b0fedce0",
        "order": 13,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Perfusion",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e378677bded9703",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 660,
        "wires": [
            [
                "f4d34423b7e71ace"
            ]
        ]
    },
    {
        "id": "ee67c765c51a9e2a",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Accelerometro",
        "topic": "IoT_Polito_Project/Sensor/1869608/+/Accelerometer",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 660,
        "wires": [
            [
                "3e378677bded9703"
            ]
        ]
    },
    {
        "id": "f4d34423b7e71ace",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Accelerometer",
        "group": "a5c94793ca4ce27b",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Accelerometer",
        "label": "rpm",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "14cc1b87a3743d40",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 740,
        "wires": [
            [
                "9789e2e207ffba21"
            ]
        ]
    },
    {
        "id": "c6fe180d25a07dab",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Heart_Rate",
        "topic": "IoT_Polito_Project/Sensor/1869608/+/Heart_Rate",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "14cc1b87a3743d40"
            ]
        ]
    },
    {
        "id": "9789e2e207ffba21",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Heart_Rate",
        "group": "a5c94793ca4ce27b",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Heart_Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": "30",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "97d0904125d18fc1",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "return msg",
        "outputs": 1,
        "x": 420,
        "y": 920,
        "wires": [
            [
                "edf5e2dfe8afc6ba"
            ]
        ]
    },
    {
        "id": "3c95e569f5ed15b3",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "BPM respiro",
        "topic": "IoT_Polito_Project/Sensor/1869608/BPM",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 920,
        "wires": [
            [
                "97d0904125d18fc1"
            ]
        ]
    },
    {
        "id": "edf5e2dfe8afc6ba",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Breath Per Minute",
        "group": "a5c94793ca4ce27b",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Breath Per Minute",
        "label": "BPM",
        "format": "{{value}}",
        "min": "5",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 920,
        "wires": []
    },
    {
        "id": "493323c20d3bc85f",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "e352613a0b132738"
            ]
        ]
    },
    {
        "id": "db804fc072eff87a",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Saturation",
        "topic": "IoT_Polito_Project/Sensor/1869608/+/Saturation",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 800,
        "wires": [
            [
                "493323c20d3bc85f"
            ]
        ]
    },
    {
        "id": "e352613a0b132738",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Saturation",
        "group": "a5c94793ca4ce27b",
        "order": 17,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Saturation",
        "label": "SpO2",
        "format": "{{value}}",
        "min": "70",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "b804c9e278994d7d",
        "type": "python3-function",
        "z": "1d6418f92cd3cb0e",
        "name": "",
        "func": "tmp={}\ntmp[\"topic\"]=\"Accelerometer\"\ntmp[\"payload\"]=msg[\"payload\"][\"e\"][0][\"v\"]\nreturn tmp",
        "outputs": 1,
        "x": 420,
        "y": 860,
        "wires": [
            [
                "1bca7d23ac60a581"
            ]
        ]
    },
    {
        "id": "4c18e6dd88c42e5b",
        "type": "mqtt in",
        "z": "1d6418f92cd3cb0e",
        "name": "Perfusion",
        "topic": "IoT_Polito_Project/Sensor/1869608/+/Perfusion",
        "qos": "2",
        "datatype": "json",
        "broker": "64f97902a7268f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 860,
        "wires": [
            [
                "b804c9e278994d7d"
            ]
        ]
    },
    {
        "id": "1bca7d23ac60a581",
        "type": "ui_gauge",
        "z": "1d6418f92cd3cb0e",
        "name": "Perfusion",
        "group": "a5c94793ca4ce27b",
        "order": 15,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Perfusion",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 860,
        "wires": []
    },
    {
        "id": "fc0e74a641878233",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e8c7f4aeab5a1fa",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "71b418b461c49efa",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8c614512f40e557",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "f101360606ed643c",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "82ed5af871636460",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5f6a184e8b750ba",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "ce0659ba332f5d40",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "a0093658a526508f",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "b44904609f185159",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "39c26c83b894fdf2",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "bd55935c4e5839fc",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "469b92d034a02fdb",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "bc056c25c88c43dd",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "1fa017fd38e798e1",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "7781ea91b0fedce0",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "c79c55754000f763",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8ea9eb766db64747",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f869d7481afcf37",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a3b27dacbc5057a1",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a263ff5398a8383",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "96b9f0eb863992a7",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "110e307f4b180472",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "826a1a6aeb11b9b5",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "efc21ff20366d627",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "004dba750019f04b",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 13,
        "width": 15,
        "height": 1
    },
    {
        "id": "f17457bc657bb0d8",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "49d9f346433b9bcd",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "13c1fcf09360d18f",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "588f4ff113509ef8",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "df8ab6e68f6ae0a3",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "4587ea0244d4db2a",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 21,
        "width": 4,
        "height": 1
    },
    {
        "id": "7d16bed0d4718e08",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "b13ca0af5bed0d07",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "96cac0254bab47fe",
        "type": "ui_spacer",
        "z": "1d6418f92cd3cb0e",
        "name": "spacer",
        "group": "a5c94793ca4ce27b",
        "order": 24,
        "width": 4,
        "height": 1
    },
    {
        "id": "64f97902a7268f66",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7781ea91b0fedce0",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "60aafeb2d0b199b3",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5c94793ca4ce27b",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "b76ee3150989ec5f",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "60aafeb2d0b199b3",
        "type": "ui_tab",
        "name": "Canale 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b76ee3150989ec5f",
        "type": "ui_tab",
        "name": "Canale 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]